$amethyst-smoke: #8a7b9b;
$dark-red: #900;
$green-kelp: #383A25;
$green-smoke: #A19D63;
$grey: #808080;
$honey-flower: #59476D;
$lola: #B1A7BC;
$titan-white: #D8D3DD;
$tolopea: #32253F;
$white-lilac: #efedf1;