@import '_colors.scss';
$analysis-button: $grey;
$button-background: $green-smoke;
$button-color: #fff;
$dev-warning: $dark-red;
$general-border: $titan-white;
$panel-container-background: rgba($white-lilac, 0.5);
$panel-content-header: $honey-flower;
$panel-headfoot: $tolopea;
$primary-purple: $tolopea;
$secondary-background: $lola;
$selector-text: $amethyst-smoke;
$slider-body: $titan-white;
$slider-handles: $lola;
$splash-color: $green-kelp;
$start-btn-background: $green-smoke;
$timeline-layer: $titan-white;
$timeline-selector: $green-smoke;
$timeline-time-marker: $honey-flower;
$timeline-text: $lola;