{
  "env": {
    "babel-node": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": 4
            },
            "debug": false
          }
        ]
      ],
      "plugins": ["dynamic-import-node"]
    }
  }
}
