$font-family-base:  "Open Sans";
$font-family-sans-serif: "Open Sans";
$font-family-serif: "Adamina";

$headings-font-family: $font-family-serif;

$nav-pills-active-link-hover-bg: #54b110;
$navbar-default-link-active-color:         #fff;
$navbar-default-link-active-bg:         #54b110;

$navbar-default-bg: #fff;