html {
   position: relative;
   min-height: 100%;
}

body {
   /* Margin bottom by footer height */
   margin-bottom: 60px;
}

.spacer { height: 50px; clear: both; }

.footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 60px;
   padding-top: 15px;
   background-color: #f1f1f1;
   border-top: 1px solid #ddd;
}

.navbar-fixed-top {
   padding: 10px;
}

a.navbar-brand {
   color: #666666;
   font-family: Quicksand;
   font-size: 28px;
}

a:hover.navbar-brand {
   color: #222;
}

.first-container {
   margin-top: 100px;
}