{
  "env": { // BABEL_ENV configs
    "server": { // For building or running the server
      "plugins": [
        "dynamic-import-node"
      ],
      "presets": [
        [
          "env",
          {
            "debug": false,
            "targets": {
              "node": 4
            }
          }
        ]
      ]
    },

    "test": { // For npm test
      "plugins": [
        "istanbul",
        "dynamic-import-node"
      ],
      "presets": [
        [
          "env",
          {
            "debug": false,
            "targets": {
              "node": 4
            }
          }
        ]
      ]
    },

    "babelify": { // Browserify babelify
      "plugins": [
        "dynamic-import-node",
        ["transform-runtime", {
          "helpers": false,
          "polyfill": false,
          "regenerator": true,
          "moduleName": "babel-runtime"
        }]
      ],
      "presets": [
        [
          "env",
          {
            "debug": true,
            "targets": {
              "browsers": [
                "last 2 versions",
                "last 5 Chrome versions",
                "last 5 Firefox versions",
                "Firefox ESR",
                "not IE <= 10"
              ]
            }
          }
        ]
      ]
    },

    "minify": { // For minifying/uglifying
      "presets": [["minify"]]
    }
  }
}