<div class="geona-explore-panel-content">
  <div><button type="submit" class="geona-button js-geona-explore-panel-content__add-layer-from-URL">Add Layer from WMS URL</button></div>
  Search for layers etc.
</div>