<div class="geona-explore-panel-content js-geona-explore-panel-content">
  <div>
    <label>You can add external layers here:</label>
    <input type="text" class="js-geona-explore-panel-content__layer-url" placeholder="URL" spellcheck="false" onClick="this.setSelectionRange(0, this.value.length)"></input>
    <select name="service" class="js-geona-explore-panel-content__service">
      <option value="WMS" selected>WMS</option>
      <option value="WMTS">WMTS</option>
    </select>
    <button type="submit" class="geona-button js-geona-explore-panel-content__add-url">Find Layers from URL</button>
    <br>
    <label class="js-geona-explore-panel-content__cache-checking removed">Checking cache for copy...</label>
    <br>
    <span class="js-geona-explore-panel-content__cache-notification removed">URL was cached previously on: </span>
    <span class="js-geona-explore-panel-content__cache-previous-datetime"></span>
    <label class="js-geona-explore-panel-content__cache-notification removed">Check box to refresh cache.</label>
    <input type="checkbox" class="js-geona-explore-panel-content__cache-checkbox removed"></input>
    <br>
    <select name="layers" class="js-geona-explore-panel-content__layer-select removed"></select>
    <button type="submit" class="geona-button js-geona-explore-panel-content__add-layer removed">Add Layer to Map</button>
  </div>
  <div>
    <label>Search through the available layers</label>
    <select name="available-layers" class="js-geona-explore-panel-content__available-layers">
      <option value="geona-available-layers-title" selected>Layers</option>
    </select>
  </div>
</div>