<div class="geona-help-panel-content">
  Help Tab
  Walkthroughs? About Geona, view terms and conditions.
  <button type="submit" class="geona-button js-geona-help-panel-content__terms-and-conditions">{{t 'menu:help.termsConditions'}}</button>
</div>