<div class="js-geona-login-panel-content geona-login-panel-content">
  <div>
    <h3>User Dashboard</h3>
    You can log into this application using your Google ID.
    <p>SIGNINWITHGOOGLEBUTTON
    <p> Once you are logged in you will be able to:
    <ul>
      <li>Add and save your own data layers</li>
      <li>Share your view of the map with colleagues using the collaboration features</li>
      <li>Save and share plots that you create</li>
    </ul>
  </div>
</div>