<div class="js-geona-menu-toggle geona-menu-toggle unselectable">
  <span class="js-geona-menu-toggle__icon geona-menu-toggle__icon icon-arrow-65"></span>
  <span class="js-geona-menu-toggle__text-open geona-menu-toggle__text">{{{t 'menu:toggle.open'}}}</span>
  <span class="js-geona-menu-toggle__text-close geona-menu-toggle__text removed">{{{t 'menu:toggle.close'}}}</span>
</div>