<nav class="js-geona-sidebar geona-sidebar">
  <section class="geona-sidebar__explore geona-sidebar__block icon-filter-1">
  </section>
  <section class="js-geona-sidebar__layers geona-sidebar__layers geona-sidebar__block icon-layers-1">
  </section>
  <section class="geona-sidebar__analysis geona-sidebar__block icon-business-chart-2">
  </section>
  <section class="geona-sidebar__login geona-sidebar__block icon-profile-1">
  </section>
  <section class="geona-sidebar__block">
  </section>
  <section class="geona-sidebar__help geona-sidebar__block icon-information">
  </section>
  <section class="geona-sidebar__share geona-sidebar__block icon-filled-link">
  </section>
</nav>