<div class="js-geona-menu-toggle geona-menu-toggle">
  <span class="js-geona-menu-toggle__text geona-menu-toggle__text">Open<br>Menu</span>
  <span class="js-geona-menu-toggle__icon geona-menu-toggle__icon icon-arrow-65"></span>
</div>