<nav class="js-geona-sidebar geona-sidebar ui-tabs-vertical">
  <ul class="geona-sidebar__ul">
    <li><div class="geona-sidebar__explore geona-sidebar__block icon-filter-1"></div></li>
    <li><div class="js-geona-sidebar__layers geona-sidebar__layers geona-sidebar__block icon-layers-1"></div></li>
    <li><div class="geona-sidebar__analysis geona-sidebar__block icon-business-chart-2"></div></li>
    <li><div class="geona-sidebar__login geona-sidebar__block icon-profile-1"></div></li>
    <li><div class="geona-sidebar__block"></div></li>
    <li><div class="geona-sidebar__help geona-sidebar__block icon-information"></div></li>
    <li><div class="geona-sidebar__share geona-sidebar__block icon-filled-link"></div></li>
  </ul>
</nav>