<div class="js-geona-menu geona-menu">
  <ul class="geona-menu__ul">
    <li>
      <div class="js-geona-menu__explore geona-menu__explore geona-menu__tab icon-filter-1"></div>
    </li>
    <li>
      <div class="js-geona-menu__layers geona-menu__layers geona-menu__tab icon-layers-1"></div>
    </li>
    <li>
      <div class="js-geona-menu__analysis geona-menu__analysis geona-menu__tab icon-business-chart-2"></div>
    </li>
    <li>
      <div class="js-geona-menu__login geona-menu__login geona-menu__tab icon-profile-1"></div>
    </li>
    <li>
      <div class="js-geona-menu__options geona-menu__options geona-menu__tab icon-map-1"></div>
    </li>
    <li>
      <div class="js-geona-menu__help geona-menu__help geona-menu__tab icon-information"></div>
    </li>
    <li>
      <div class="js-geona-menu__share geona-menu__share geona-menu__tab icon-filled-link"></div>
    </li>
  </ul>
</div>