<div class="geona-overlay js-geona-overlay__share-url">
  <div class="geona-overlay__container">
    <div class="geona-overlay__content">
      {{t 'menu:share-panel.share-map'}}
    </div>
    <div class="geona-overlay__actions">
      <span class="js-geona-overlay__share-url__close">{{t 'menu:share-panel.close'}}</span>
      <p>{{t 'menu:share-panel.instructions'}}</p>
      <textarea class="js-geona-overlay__share-url__output geona-overlay__share-url__output" cols="50" rows="1" placeholder="{{t 'menu:share-panel.retrieving-url'}}"></textarea>
    </div>
  </div>
</div>