<div class="js-geona-share-panel-content geona-share-panel-content">
  Share Tab URL, Facebook, Twitter etc.
  <br>
  <button class="js-geona-share-panel-content__share-url">{{t 'menu:share-panel.share-button'}}</button>
</div>