<div class="geona geona-overlay-box splash-screen">
    <div class="geona geona-overlay-box-content">
      <section class="geona geona-overlay-box-content-actions-description">
        {{{splashMessage}}}
      </section>
      <section class="geona geona-overlay-box-content-actions">
        <button type="submit" class="geona geona-button load-previous-map">Load your previous map</button>
        <button type="submit" class="geona geona-button start-building-map">Start building a map</button>
      </section>
    </div>
  </div>