<div class="geona-overlay js-geona-splash-screen">
  <div class="geona-overlay__container">
    <div class="geona-overlay__content">
      {{{t splashMessage}}}
    </div>
    <div class="geona-overlay__actions">
      <button type="submit" class="geona-button js-geona-splash-screen__load-previous">{{t 'intro:splashScreen.loadPreviousMap'}}</button>
      <button type="submit" class="geona-button js-geona-splash-screen__start-new">{{t 'intro:splashScreen.startBuildingMap'}}</button>
    </div>
  </div>
</div>