<!--TODO
       How to store that they've accepted.
      Also About button should give option of viewing T&C but that's the last thing to do
   -->
<div class="geona geona-overlay">
  <div class="geona-overlay-box terms-and-conditions">
    <div class="geona-overlay-box-content">
      <section class="geona-overlay-box-content-actions-description">
        <h2>{{t 'intro:termsConditions.header'}}</h2>
        {{t 'intro:termsConditions.content'}}
      </section>
      <section class="geona geona-overlay-box-content-actions">
        <button type="submit" class="geona geona-button agree-terms-and-conditions">{{t 'intro:termsConditions.accept'}}</button>
      </section>
    </div>
  </div>
</div>