<!--TODO
       How to store that they've accepted.
      Also About button should give option of viewing T&C but that's the last thing to do
   -->
<div class="geona-overlay js-geona-terms-and-conditions">
  <div class="geona-overlay__container">
    <div class="geona-overlay__content">
      <h2>{{t 'intro:termsConditions.header'}}</h2>
      {{t 'intro:termsConditions.content'}}
    </div>
    <div class="geona-overlay__actions">
      <button type="submit" class="geona-button js-geona-terms-and-conditions__accept">{{t 'intro:termsConditions.accept'}}</button>
    </div>
  </div>
</div>