<div class="js-geona-timeline-container geona-timeline-container">
  <div class="js-geona-timeline-toggle geona-timeline-toggle icon-arrow-65"></div>
  <div class="geona-timeline js-geona-timeline">
    <span class="geona-timeline-heading">{{t 'menu:timeline.heading'}}</span>
    <span class="geona-timeline-description">{{t 'menu:timeline.description'}}</span>
    <div class="geona-timeline-inner">
      <ul class="geona-timeline-inner__labels"></ul>
      <div class="js-geona-timeline-inner__timebar"></div>
      <div class="geona-timeline-inner__options">
        <div class="geona-timeline-next-prev">
          <span class="geona-timeline-control icon-arrow-49"></span>
          <span class="geona-timeline-control icon-arrow-39"></span>
          <span class="geona-timeline-control icon-arrow-40"></span>
          <span class="geona-timeline-control icon-arrow-50"></span>
        </div>
        <input class="js-geona-timeline-current-date geona-timeline-current-date" type="text"></input>
      </div>
    </div>
  </div>
</div>