<div class="js-geona-time-panel-container geona-time-panel-container">
  <div class="js-geona-time-panel-toggle geona-time-panel-toggle icon-arrow-65"></div>
  <div class="geona-time-panel js-geona-time-panel">
    <span class="geona-time-panel-heading">{{t 'menu:time-panel.heading'}}</span>
    <span class="geona-time-panel-description">{{t 'menu:time-panel.description'}}</span>
    <div class="geona-time-panel-inner">
      <ul class="geona-time-panel-inner__labels"></ul>
      <div class="js-geona-time-panel-inner__timeline"></div>
      <div class="geona-time-panel-inner__options">
        <div class="geona-time-panel-next-prev">
          <span class="geona-time-panel-control icon-arrow-49"></span>
          <span class="geona-time-panel-control icon-arrow-39"></span>
          <span class="geona-time-panel-control icon-arrow-40"></span>
          <span class="geona-time-panel-control icon-arrow-50"></span>
        </div>
        <input class="js-geona-time-panel-current-date geona-time-panel-current-date" type="text"></input>
      </div>
    </div>
  </div>
</div>