<div class="js-geona-time-panel-container geona-time-panel-container">
  <div class="js-geona-time-panel-toggle geona-time-panel-toggle icon-arrow-65"></div>
  <div class="geona-time-panel js-geona-time-panel">
    <div class="geona-time-panel-title">
      <span class="geona-time-panel__heading">{{t 'menu:time-panel.heading'}}</span>
      <span class="geona-time-panel__description">{{t 'menu:time-panel.description'}}</span>
    </div>
    <div class="js-geona-time-panel-timeline geona-time-panel-timeline"></div>
    <div class="geona-time-panel-options">
      <div class="geona-time-panel-options-prev-next">
        <span class="js-geona-time-panel-options-prev-next__prev-far icon-arrow-49"></span>
        <span class="js-geona-time-panel-options-prev-next__prev-short icon-arrow-39"></span>
        <span class="js-geona-time-panel-options-prev-next__next-short icon-arrow-40"></span>
        <span class="js-geona-time-panel-options-prev-next__next-far icon-arrow-50"></span>
      </div>
      <input class="js-geona-time-panel-options-current-date geona-time-panel-options-current-date" type="text"></input>
    </div>
  </div>
</div>
</div>