.geona-container{
  font-family: 'Open Sans',sans-serif;
  position: relative;

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  input, select, textarea, button{
    font-family:inherit;
  }
}

.geona-container:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
}

.geona-map{
  background: #1a1a1a;
  clear: both;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  z-index: 0;
}

.geona-button{
  background-color: $button-background;
  color: $button-color;
  border-style: none;
  border-radius: 5px;
  padding: 7px 35px;
  text-align: center;
  cursor: pointer;
  font-size: .875rem;

  &:disabled {
    background-color: #AAA;
    cursor: wait;
  }
}

/*------------------------------------*\
    Menu
\*------------------------------------*/

.geona-menu-bar{
  position: absolute;
  width: 70px;
  height: auto;
  top: 25px;
  left: 15px;
}

.geona-menu-toggle{
  width:100%;
  height: 35px;
  background-color: #fafafa;
  box-shadow: 0px 0px 11px -2px black;
  cursor: pointer;
  padding: 0 5px;

  &:hover{
    background-color: #999;
  }
}

.geona-menu-toggle__icon{
  font-size: 18px;
  display: inline-block;
  padding-top: 9px;
}

.geona-menu-toggle__text{
  font-size: 11px;
  float: right;
  padding-top: 3px;
}

.geona-menu{
  width: 100%;
  height: auto;
  background-color: rgba(230,230,230,0.7);
  border: 3px, #000;
  box-shadow: 0px 0px 11px -2px black;
}

.geona-menu__ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.geona-menu__background{
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #000;
}

.geona-menu__tab{
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #000;
  cursor: pointer;
  font-size: 42px;
  text-align: center;
  padding-top: 15px;

  &:hover{
    background-color: rgba(255,255,255,1);
  }
  &:target{
    background-color: #444;
  }
}

.geona-menu__tab--active{
  background-color: #fff;
  border-right: #fff;
}

.geona-menu__explore{
  border-top: 2px solid #000;
}

.geona-panel{
  position: absolute;
  left: 100%;
  max-width: 377px;
  width: 450%;
  min-width: 272px;
  min-height: 100%;
  height: auto;
  max-height: 90vh;
  top: 0;
  overflow-y: auto;
  background-color: rgba(255,255,255,1);
  padding: 3px;
  border: 2px solid #000;
}

/*------------------------------------*\
    Layer Panel
\*------------------------------------*/

.geona-layers-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.geona-layers-list__item{
  border: 1px solid #000;
  margin: 1px;
  font-size: 11px;
  overflow-wrap: break-word;
}

.geona-layers-list__item-header{
  background-color: $panel-content-header;
  color: #fff;
}

.geona-layers-list__item-header-icon{
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  // TODO not working
  .geona-layers-list__item-remove{
    float: right;
  }
}
// TODO not working
.geona-layers-list__item-info-row{
  border-bottom: 1px solid #000000;
}
// TODO not working
.geona-layers-list__item-info-data{
  overflow-wrap: break-word;
  table-layout: fixed;
}

/*------------------------------------*\
    Time Panel
\*------------------------------------*/

.geona-time-panel-container{
  bottom: 0;
  position: absolute;
  width: 100%;
  pointer-events: none; // TODO not a big fan of this, is there a better way?
}

.geona-time-panel-toggle{
  width: 20px;
  height: auto;
  background-color: #fff;
  text-align: center;
  pointer-events: all;
}

.geona-time-panel{
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 5px;
  pointer-events: all;
}

.geona-time-panel__heading{
  font-size: 15px;
}

.geona-time-panel__description{
  font-size: 13px;
}

.geona-time-panel-options{
  width: 180px;
  top: -19px;
  right: -5px;
  display: inline-block;
}

.geona-time-panel-timeline {
  width: auto;
  display: inline-block;
}

.geona-time-panel-options-prev-next span{
  background-color: #b1a7bc;
  color: #fff;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.geona-time-panel-options-current-date{
  padding-left: 10px;
  width: 100%;
  height: 35px;
}

/*------------------------------------*\
    Timeline
\*------------------------------------*/

// .geona-timeline-y-axis-background {
//   -webkit-filter: drop-shadow(5px 0px 5px rgba(0,0,0,0.7));
//   filter: drop-shadow(5px 0px 5px rgba(0,0,0,0.7));
// }

.geona-timeline-selector-tool {
  fill: $button-background;
  cursor: e-resize;
}

.geona-timeline-today-line {
  stroke: #add8e6;
  stroke-width: 2;
  stroke-dasharray: 2, 2;
}

.geona-timeline-layer {
  fill: $timeline-layer;
}

.geona-timeline-layer-bar {
  shape-rendering: crispEdges;
}

.geona-timeline-layer-time-marker {
  stroke: $timeline-time-marker;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.geona-timeline-y-axis-background {
  fill: #ffffff;
}

.geona-timeline-x-axis {
  shape-rendering: crispEdges;
}

.geona-timeline-x-axis .tick:hover text {
    fill: #999;
    cursor: pointer; // glitchy
}

/*------------------------------------*\
    Utilities
\*------------------------------------*/

// Rules from https://stackoverflow.com/questions/2310734/how-to-make-html-text-unselectable
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.invisible{
  display: hidden !important;
}

.removed{
  display: none !important;
}