.geona-container{
  font-family: 'Open Sans',sans-serif;

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.geona-map{
  background: #1a1a1a;
  clear: both;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  z-index: 0;
}

.geona-controls{
}

.geona-button{
  background-color: $button-background;
  color: $button-color;
  border-style: none;
  border-radius: 5px;
  padding: 7px 35px;
  text-align: center;
  cursor: pointer;
  font-size: .875rem;
}

/*------------------------------------*\
    Menu
\*------------------------------------*/

.geona-menu-bar{
  position: absolute;
  max-width: 80px;
  width: 10%;
  height: auto;
  top: 25px;
  left: 15px;
}

.geona-menu-toggle{
  width:100%;
  height: 35px;
  background-color: #fafafa;
  box-shadow: 0px 0px 11px -2px black;
  padding: 9px 0;
  font-size: 16px;
  text-align: center;
  cursor: pointer;

  :hover{
    background-color: #888;
  }
}

.geona-menu{
  width: 100%;
  height: auto;
  background-color: rgba(230,230,230,0.7);
  border: 3px, #000;
  box-shadow: 0px 0px 11px -2px black;
}

.geona-menu__ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.geona-menu__tab{
  width: 100%;
  padding-top:100%;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  cursor: pointer;

  :hover{
    background-color: rgba(255,255,255,1);
  }
  :target{
    background-color: #444;
  }
}

.geona-menu__explore{
  border-top: 2px solid #000;
}

.geona-panel{
  position: absolute;
  left: 100%;
  width: 350%;
  height: 130%;
  top: 0;
  border: 1px solid #000;
  background-color: rgba(255,255,255,1);
  padding: 3px;
}

/*------------------------------------*\
    Layer Panel
\*------------------------------------*/

.geona-layers-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.geona-layers-list__item{
  border: 1px solid #000;
  margin: 1px;
}

/*------------------------------------*\
    Utilities
\*------------------------------------*/

.invisible{
  display: hidden !important;
}

.hidden{
  display: none !important;
}