// TODO: Remove uneeded

.ol-zoom, .ol-full-screen, .leaflet-control-zoom {
   position: absolute; 
   top: 25px; 
   right: 10px;
   background-color: #fafafb;
   box-shadow: 0px 0px 11px -2px black;
   z-index: 10;
}

.ol-full-screen {
   right: 105px;
}

.ol-geocoder-trigger{
   position: absolute;
   top: 25px;
   right: 160px;
   background-color: #fafafb;
   box-shadow: 0px 0px 11px -2px black;
   padding: 7px;
   z-index: 10;
}

.ol-zoom button, .ol-full-screen button, .leaflet-control-zoom [role="button"] {
   border: 0;
   cursor: pointer;
   -webkit-appearance: none;
   -moz-appearance: none;
   background: transparent;
  padding: 5px 10px;
  margin: 2px;
  font-size: 16px;
}



.ol-attribution {
  text-align: right;
  bottom: .5em;
  right: .5em;
  max-width: calc(100% - 1.3em);
  position: absolute;
}

.ol-attribution ul {
  margin: 0;
  padding: 0 .5em;
  font-size: .7rem;
  line-height: 1.375em;
  color: #000;
  text-shadow: 0 0 2px #fff
}

.ol-attribution li {
  display: inline;
  list-style: none;
  line-height: inherit
}

.ol-attribution li:not(:last-child):after {
  content: " "
}

.ol-attribution img {
  max-height: 2em;
  max-width: inherit;
  vertical-align: middle
}

.ol-attribution button, .ol-attribution ul {
  display: inline-block
}

.ol-attribution.ol-collapsed ul {
  display: none
}

.ol-attribution.ol-logo-only ul {
  display: block
}

.ol-attribution:not(.ol-collapsed) {
  background: rgba(255, 255, 255, .8)
}

.ol-attribution.ol-uncollapsible {
  bottom: 0;
  right: 0;
  border-radius: 4px 0 0;
  height: 1.1em;
  line-height: 1em
}

.ol-attribution.ol-logo-only {
  background: 0 0;
  bottom: .4em;
  height: 1.1em;
  line-height: 1em
}

.ol-attribution.ol-uncollapsible img {
  margin-top: -.2em;
  max-height: 1.6em
}

.ol-attribution.ol-logo-only button, .ol-attribution.ol-uncollapsible button {
  display: none
}



.ol-scale-line {
   position: absolute;
   top: 25px;
   right: 200px;
   background-color: #fafafb;
   box-shadow: 0px 0px 11px -2px black;
   padding: 7px;
   cursor: default;
   z-index: 10;
}
.ol-scale-line-inner {
   border-width: 0px 1px 1px 1px;
   border-style: solid;
   border-color: #666;
   padding-left: 7px;
}
.js-map-settings-message {
   margin: 6px -8px;
   padding: 8px;
}

.ol3-geocoder-search{
   display: none;
}

.ol3-geocoder-search-expanded{
   display: inline;
}

.ol3-geocoder-search-expanded #gcd-input,
.ol3-geocoder-result{
  right:10px !important;
  left: auto !important;
  width: 260px !important;
}

.ol3-geocoder-container{
  left: auto !important;
  right: 0.5em !important;
  z-index: 10160;
}

button.ol3-geocoder-btn-search {
  display: none !important;
}

ul.ol3-geocoder-result>li:nth-child(odd) {
    background-color: #eee;
}