<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>GP2</title>

  <!--Includes the loader in the html-->
  <script src="js/loader.js"></script>

  <!--This script defines a particular config,
      then instantiates a new loader-->
  <script>
    function geonaOnReady(geona) {
      console.log('Geona is ready.');
    }
    var config1 = {
      geonaVariable: 'geonaOl',
      onReadyCallback: 'geonaOnReady',
      divId: 'ol',
      map: {
        graticule: true,
        bingMapsApiKey: 'AgNtBFpBNF81T-ODIf_9WzE8UF_epbsfiSu9RYMbLfq_wXU_bBVAoyBw8VzfSjkd',
      }
    };
    var config2 = {
      geonaVariable: 'geonaL',
      divId: 'leaflet',
      map: {
        library: 'leaflet',
        graticule: true,
      }
    };
    // instantiates new loader for map
    geonaLoader.load(config1);
    geonaLoader.load(config2);

    // setTimeout(function() {
    //   var map2 = new gp2.Loader(config2);
    // }, 2000);

  </script>

  <style type="text/css">
    #ol {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
    }
    #leaflet {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
    }
  </style>

</head>

<body>
  <div id="ol"></div>
  <div id="leaflet"></div>
</body>

</html>
