<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>GP2</title>

  <!--Includes the loader in the html-->
  <script src="js/loader.js"></script>

  <!--TODO TEMP Include jquery-->
  {{!-- <script src="https://code.jquery.com/jquery-3.2.1.js"></script> --}}

  <!--TODO TEMP Include jquery ui-->
  {{!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> --}}
  {{!-- <script>
  $( function() {
    $( ".sortable" ).sortable();
    $( ".sortable" ).disableSelection();
  } );
  </script> --}}

  <!--This script defines a particular config,
      then instantiates a new loader-->
  <script>
    var config1 = {
      divId: 'ol',
      map: {
        graticule: true,
        bingMapsApiKey: 'AgNtBFpBNF81T-ODIf_9WzE8UF_epbsfiSu9RYMbLfq_wXU_bBVAoyBw8VzfSjkd',
        viewSettings: {
          fitExtent: [0,0,10,10],
        }
      }
    };
    var config2 = {
      divId: 'leaflet',
      map: {
        library: 'leaflet',
        graticule: true,
        viewSettings: {
          fitExtent: [0,0,10,10],
        }
      }
    };
    // instantiates new loader for map
    gp2Loader.load(config1);
    gp2Loader.load(config2);

    // setTimeout(function() {
    //   var map2 = new gp2.Loader(config2);
    // }, 2000);

  </script>

  <style type="text/css">
    #ol {
      position: absolute;
      left: 0;
      width: 50%;
      height: 100%;
    }
    #leaflet {
      position: absolute;
      right: 0;
      width: 50%;
      height: 100%;
    }
  </style>

</head>

<body>
  <div id="ol"></div>
  <div id="leaflet"></div>
</body>

</html>
