<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>GP2</title>

  <!--Includes the loader in the html-->
  <script src="js/loader.js"></script>

  <!--This script defines a particular config,
      then instantiates a new loader-->
  <script>
    var config1 = {
      mapLibrary: "openlayers",
      mapDivID: "ol",
    };
    var config2 = {
      mapLibrary: "leaflet",
      mapDivID: "leaf",
    };
    // instantiates new loader for map
    var map1 = new Loader(config1);
    var map2 = new Loader(config2);

    // setTimeout(function() {
    //   var map2 = new gp2.Loader(config2);
    // }, 2000);
  </script>

</head>

<body>
  <div id="map"></div>
  <div id="ol"></div>
  <div id="leaf"></div>
</body>

</html>
