<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>GP2</title>

  <!--Includes the loader in the html-->
  <script src="js/loader.js"></script>

  <!--This script defines a particular config,
      then instantiates a new loader-->
  <script>
    var config1 = {
      map: {
        divId: 'ol'
      }
      // mapLibrary: "openlayers",
      // mapDivID: "ol",
      // mapBaseMap: "GEBCO",
      // mapProjection: "EPSG:3857",
      // mapGraticule: "true",
      // mapCountryBorders: "black",
    };
    var config2 = {
      mapLibrary: "leaflet",
      mapDivID: "leaf",
      mapBaseMap: "GEBCO",
      mapCountryBorders: "black",
    };
    // instantiates new loader for map
    gp2Loader.load(config1);
    gp2Loader.load(config2);

    // setTimeout(function() {
    //   var map2 = new gp2.Loader(config2);
    // }, 2000);

  </script>

</head>

<body>
  <div id="map"></div>
  <div id="ol"></div>
  <div id="leaf"></div>
</body>

</html>
